body,html {
    background-size: cover;
    width: 100%;
    display: block;
    background-color: rgb(145, 66, 66);
    margin: 0;

}

/*header {
    width: 100%;
    height: 70px;
    background-color: rgb(22, 6, 247);
}*/




nav ul {
    width: auto;
    
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 17px 15px;
    position: relative;
}

nav ul li a {
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

nav ul li ul {
    width: 90%;
    display: none;
    position: absolute;
    top: 100%;
    padding-top: 7px;
    left: 0;
    right: 0;
    
}

nav ul li:hover ul {
    display: block;
    color: rgb(0, 0, 0);
}

nav ul li ul li {
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(0, 0, 0);

 }
 
nav ul li ul li:hover {
    background-image: linear-gradient(to right, rgb(172, 0, 0), rgb(26, 24, 24));

}

nav ul li ul li a {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

nav ul li ul li a:hover {
    color: rgb(0, 0, 0);
    

}

.logo {
    width: auto;
    height: 150px;
}

.logo:hover {
    animation:spin 10s linear infinite;

}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}




















p {
    font-size: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: center;
    color: black;
    text-align: center;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px repeat(3, 1fr) 75px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.navbar { 
    grid-area: 1 / 1 / 2 / 6;
    /*background: linear-gradient(to right, #ffffff 21%, #990000 100%);*/
    background-color: whitesmoke;
}

.pata { 
    grid-area: 5 / 1 / 6 / 6; 
    background-color: saddlebrown;
    position: fixed;
    bottom: 0px;
}

.skuska {
    display: grid;
    grid-area: 2 / 2 / 5 / 6; 
    background-color: rgb(56, 56, 56);
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    padding: 20px;
    grid-row-gap: 20px;

}

.menu {
    background-color: rgb(172, 73, 73);
    grid-area: 2/2/5/1;



}
/*
.grid-item2 { 
    padding-top: 0px;
    grid-area: 1 / 1 / 5 / 2; 
    background-color: skyblue;
}

.grid-item4 { 
    
    grid-area: 2 / 2 / 5 / 6; 
}
*/
/*img {
    width: 400px;
    height: 550px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
   
}

img:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }*/

.Party {
    background-image: url(Party.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 550px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    position: relative;
}

.Party:hover:not(p){
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.Svadba {
    background-image: url(Svadba.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 550px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    position: relative;
}

.Svadba:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.Priroda {
    background-image: url(prirodamain1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 550px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    position: relative;
}

.Priroda:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.napis {
    position: absolute;
    font-size: 40px;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.4);
}